* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to left top,
    rgb(225, 210, 118),
    rgb(236, 98, 98)
  );

  transition: all 0.25s;
}

.dark-theme-body {
  background: rgb(16, 16, 16);
}

.color-toggle {
  position: absolute;
  top: 1rem;
}

.theme-button {
  background-color: rgba(81, 81, 81, 0.731);
  border: none;
  border-radius: 25px;
  padding: 0.15rem 0.5rem;
  /* border: 1px solid rgba(81, 81, 81, 0.731); */
  position: relative;
}

.theme-icon {
  width: 6.5vmin;
}

.slider {
  position: absolute;
  height: 100%;
  background-color: rgb(85, 85, 85);
  width: 50%;
  border-radius: 25px;
  top: 0;
  transition: left 0.5s, right 0.5s ease-out;
}

.dark-slider {
  left: 0px;
  right: 50%;
}

.light-slider {
  right: 0px;
  left: 50%;
}

.board {
  width: 92vmin;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.cell {
  aspect-ratio: 1;
  position: relative;
}

.first-row,
.second-row,
.third-row {
  width: 100%;
  font-size: 22vmin;
  text-align: center;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: 3px solid rgb(228, 168, 249);
  border-bottom: 3px solid rgb(228, 168, 249);
  font-family: arial;
  display: grid;
  justify-content: center;
  align-items: center;
  transition: border 0.25s;
}

.dark-theme-board {
  border-color: rgb(38, 34, 255);
  filter: saturate(1.5);
}

.light-theme-font {
  color: rgb(131, 214, 183);
  filter: drop-shadow(0px 0px 4px rgb(131, 214, 183));
  transition: color 0.25s;
}

.dark-theme-font {
  color: rgb(213, 106, 251) !important;
  filter: drop-shadow(0px 0px 4px rgb(213, 106, 251)) !important;
}

.third-row {
  border-bottom: none;
}

.last-cell {
  border-right: none;
}

.unused {
  opacity: 0;
}

.winner {
  background-color: rgb(153, 234, 134);
  filter: drop-shadow(0px 0px 3px rgb(153, 234, 134));
  width: 103%;
  height: 1.225vmin;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  z-index: 999;
  transition: background-color 0.25s;
}

.vertical {
  rotate: 90deg;
  transform: translateY(25%);
}

.diagonal-backward {
  rotate: 45deg;
  /* transform: translateY(400%); */
  width: 100%;
}

.diagonal-forward {
  rotate: 135deg;
  transform: translateX(50%, 900%);
  width: 145%;
}

.winner-line {
  height: 1.125vmin;
  width: 140%;
  top: 50%;
  transform: translate(10%, 1200%);
  rotate: 135deg;
  position: absolute;
  background-color: rgb(153, 234, 134);
  filter: drop-shadow(0px 0px 3px rgb(153, 234, 134));
  transition: background-color 0.25s;
}

.winner-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -200%);
  font-size: 5vmin;
  color: rgb(131, 214, 183);
  filter: drop-shadow(0px 0px 2px rgb(131, 214, 183));
  transition: color 0.25s;
}

.backward {
  rotate: 45deg;
  transform: translate(-10.2%, 1125%);
}

.forward {
  transform: translate(9.8%, 1205%);
}

.hidden {
  display: none;
}

@media (min-width: 1000px) {
  .board {
    width: 917.233px;
  }

  .first-row,
  .second-row,
  .third-row {
    font-size: 219.333px;
  }

  .winner-line,
  .winner {
    height: 11.2333px;
  }

  .winner-text {
    font-size: 49.85px;
  }
}
